[core]
# excludesfile = /Users/Donnie/.gitignore_global
ignorecase = false
[user]
name = donniean
email = donniean1@gmail.com
signingkey = A89815A5A7570349
[http]
# proxy = socks5://127.0.0.1:6153
[https]
# proxy = socks5://127.0.0.1:6153
[commit]
gpgsign = true
[gpg]
# for Obsidian Git
program = /opt/homebrew/bin/gpg
[credential]
# helper = osxkeychain
